# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules

# misc
*.pem

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.local

# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
# testing
/coverage

# vercel
.vercel

# next.js
.next
out

# production
/build
dist
dist-ssr

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
logs
*.log

# typescript
*.tsbuildinfo
next-env.d.ts
